autopep8==1.5.4
beautifulsoup4==4.9.1
click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
MarkupSafe==1.1.1
nltk==3.5
numpy==1.19.2
pycodestyle==2.6.0
python-dotenv==0.14.0
regex==2020.7.14
soupsieve==2.0.1
toml==0.10.1
tqdm==4.48.2
Werkzeug==1.0.1
