* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.zot-search-menu {
  display: flex;
  background: rgb(230, 230, 230);
}
.zot-logo {
  margin-right: auto;
  margin-left: 10px;
  margin-top: 13px;
  margin-bottom: 6px;
}

.zot-logo img {
  border-radius: 50%;
  border: 7px solid #C3BDEA;
}

.about {
  margin: 30px;
  font-weight:400;
  font-size: 1.2rem;
  color: #585151;
}

.about:hover {
  color: #C3BDEA;
}


.zot-search-menu li {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  padding: 7px 12px 0px 0px;
  cursor: pointer;
}

/* Logo */
.logo-heading {
  display: table;
  background-color: #585151;
  padding: 12px 50px 12px 50px;
  
  border-radius: 27px;
  font-size: 57px;
  position: relative;
}


.main-logo {
  position: relative;
  width: 100%;
  text-align: center;
}


#main-logo-zot {
  font-family: 'Noto Sans SC', sans-serif;
  color: #fff;
  font-size: 65px;
  
}

#main-logo-search {
  font-family: 'Pacifico', cursive;
  color: #C3BDEA;
  font-size: 60px;
  font-weight: lighter;
}


.logo-container {

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
/* Search Bar */
.searchbar-button {
  width: 100%;
  position: relative;
  display: flex;
}

/* remove outline */
#search-bar, .button {
  outline: none;
}

#search-bar {
  width: 100%;
  padding: 10px;
  border-radius: 25px 0 0 25px;
  border: 3px solid #BEBEBE;
  font-family: 'Roboto', sans-serif;

}

.button {
  border-radius: 0 25px 25px 0;
  border: none;
  padding: 10px;
  background-color: #BEBEBE;
  cursor: pointer;
  text-align: center;
}

button i {
  color: #fff;
  padding: 5px;
}

.search-container {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}