* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.zot-search-menu {
  display: flex;
  background: rgb(230, 230, 230);
}
.zot-logo {
  margin-right: auto;
  margin-left: 10px;
  margin-top: 13px;
  margin-bottom: 6px;
}

.zot-logo img {
  border-radius: 50%;
  border: 7px solid #C3BDEA;
}

.about {
  margin: 30px;
  font-weight:400;
  font-size: 1.2rem;
  color: #585151;
}

.about:hover {
  color: #C3BDEA;
}


.zot-search-menu li {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  padding: 7px 12px 0px 0px;
  cursor: pointer;
}

/* Logo */
.logo-heading {
  display: table;
  background-color: #585151;
  padding: 12px 50px 12px 50px;
  
  border-radius: 27px;
  font-size: 57px;
  position: relative;
}


.main-logo {
  position: relative;
  width: 100%;
  text-align: center;
}


#main-logo-zot {
  font-family: 'Noto Sans SC', sans-serif;
  color: #fff;
  font-size: 65px;
  
}

#main-logo-search {
  font-family: 'Pacifico', cursive;
  color: #C3BDEA;
  font-size: 60px;
  font-weight: lighter;
}


.logo-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
/* Search Bar */
.searchbar-button {
  width: 100%;
  position: relative;
  display: flex;
}

/* remove outline */
#search-bar, .button {
  outline: none;
}

#search-bar {
  width: 100%;
  padding: 15px;
  border-radius: 25px 0 0 25px;
  border: 3px solid #BEBEBE;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.button {
  border-radius: 0 25px 25px 0;
  border: none;
  padding: 10px;
  background-color: #BEBEBE;
  cursor: pointer;
  text-align: center;
}

button i {
  color: #fff;
  padding: 5px;
}

.search-container {
  width: 60%;
  max-width: 700px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#search-loading {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 50px;
  border-radius: 20px;
  border: none;
  box-shadow: none;
}

#word-bank-box {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 50px;
  border-radius: 20px;
  padding: 15px;
  background-color: rgb(211, 211, 211);
}

h3.word-bank-title {
  font-size: 23px;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Noto Sans SC', sans-serif;
}

button.ui.word-btn {
  margin: 2px;
  background-color: #C3BDEA;
  color: #fff;
  padding: 11px;
  font-size: 17px;
  border: 1px solid #978be9
}

input.disabled {
  background-color: rgb(231, 231, 231);
}

#result-box {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 30px;
  border-radius: 20px;
}

td.rank {
  text-align: center;
}

td.url {
  word-break: break-all;
}

ul.ui.list {
  list-style: none;
}

ul.ui.list li::before {
  content: "• ";
  color: white;
}